body *{
    box-sizing: border-box;
    border: 5px solid;
}

body{
    margin: 0px;
}

.grid{
    height: 800px;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header header" 
                         "l-s main r-s-t" 
                         ". main r-s-b" 
                         "footer footer footer";
}

@media (max-width: 768px) {
    .grid{
        grid-template-rows: 100px 300px 50px 100px;
        grid-template-columns: 200px 1fr 50%;
        grid-template-areas: "header header header" 
                             "l-s main main" 
                             "r-s-t r-s-t r-s-b" 
                             "footer footer footer";
    }
}

@media (max-width: 480px) {
    .grid{
        grid-template-rows: 100px 50px 400px 50px 50px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: "header" 
                             "l-s" 
                             "main" 
                             "r-s-t"
                             "r-s-b"
                             "footer";
    }
}



header{
    border-color: violet;
    grid-area: header;
}

.left-side{
    border-color: red;
    grid-area: l-s;
}

main{
    border-color: yellow;
    grid-area: main;
}

.right-side-top{
    border-color: pink;
    grid-area: r-s-t;
}

.right-side-bottom{
    border-color: orange;
    grid-area: r-s-b;
}

footer{
    border-color: blue;
    grid-area: footer;
}
